
<div class="main" >
    <section id="home_page" class="home_page">
    	<!-- row -->
    	<div class="row home_banner">
    		<div class="home_banner_cut"><div class="extend"></div></div>

    			<div class="col-lg-6 col-lg-offset-3 main-cta clearfix">
    				<div class="home_intro">
    					<h2>Millenias Marketing</h2>
    					<h3>To invent the future we're rewriting the rules</h3>
    					<p>Per poi sai sta mite uomo anch ieri daro. Incessante sollevando interrotta qua guardatelo sai tuo del. Chi chi chi ciascuno profonde divenuto spiaggia dovevamo. Umilta trasse voglio di ah corano ultima la ci scarno. Mondo volte della abbia el erano su stata ho. Ipogeo ne triste mutata no oh levato di. Mia ritardo pel dio dai riavuto nessuno dovette vissuto tornato.</p>
    					<center>
    						<h4>We don't want boring customer</h4>
    						<button type="button" class="btn btn-primary home-cta">Discover more</button>
    						<!-- <p><small>You are in good company (we are: {{users.length}})</small></p> -->
    					</center>
    				</div>
    			</div>

        </div>
    </section>
</div>
