//- Flash messages
.col-lg-5.col-lg-offset-7.flash-message
	.alert.alert-dismissible(class="{{m.type}}",ng-repeat="m in flashMessage",role="alert",ng-show="flashMessage")
		button.close(type="button",data-dismiss="alert",aria-label="Close")
			span(aria-hidden="true") &times;
		p
			strong Whassup:
			b {{m.detail}}
//- End Flash messages
