<!-- Partial for Comments -->

<!-- Comments show -->
<button type="button" class="btn btn-primary btn-small pull-right" data-toggle="modal" data-target="#CommentModal">
  Insert new Comment
</button>

<div ng-repeat="comment in post.comments" ng-if="comment.parent" class="well">
     <p>{{comment.id}}</p><p>{{comment.text}}</p>
     <p><i>Made by {{comment.owned.nickname}}</i> - parent of: {{comment.parent}}</p>
     <button type="button" class="btn btn-primary btn-small pull-right" ng-click="setParentComment(comment.id)" >Reply</button>
     <button type="button" class="btn btn-danger btn-small pull-right"  ng-click="removeComment(comment.id)">Delete</button>
</div>

<!-- Modal: Comment New -->
<!-- Modal: Comment New -->
<div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="Comment Modal Box">
     <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
               </div>
               <div class="modal-body">
                    <p>Insert your comment here ...</p>
                    <div class="input-group">
                         <input type="hidden" id="comment_parent" name="comment_parent" ng-model="commentParent"></input>
                         <textarea type="text" class="form-control" id="comment_text" name="comment_text" ng-model="commentText" placeholder="Insert your comment..."></textarea>
                    </div>
               </div>
               <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addNewComment(commentText,commentParent,currentUser);" >Save changes</button>
               </div>
          </div> <!-- /.modal-content -->
     </div> <!-- /.modal-dialog -->

</div> <!-- /.modal -->

<!-- / Partial for Comments -->