<button type="button" class="btn btn-primary btn-small" data-toggle="modal" data-target="#CommentModal">
  Insert new Comment
</button>
<hr>

<!-- Partial for Comments -->

<aria-comments listcomments="postComments" parent-id="''" show-modal="showModal('#CommentModal',parent)" delete-comment="deleteComment(commentIndex)"></aria-comments>

<!-- Partial for Comments -->










<!-- Modal: Comment New -->
<!-- Modal: Comment New -->
<div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="Comment Modal Box">
     <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
               </div>
               <div class="modal-body">
                    <p>Insert your comment here ...</p>
                    <div class="input-group">
                        <input type="hidden" id="comment_parent"      name="comment_id" ng-model="newComment.id"></input>
                        <input type="hidden" id="comment_parent"      name="comment_parent" ng-model="newComment.parent"></input>
                        <input type="hidden" id="comment_owner"       name="comment_owned"  ng-model="newComment.owned"></input>
                        <input type="hidden" id="comment_post_owner"  name="comment_post"   ng-model="newComment.post_owner"></input>
                        <textarea type="text" class="form-control" id="comment_text" name="comment_text" ng-model="newComment.text" placeholder="Insert your comment..."></textarea>
                    </div>
               </div>
               <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addNewComment();" >Save changes</button>
               </div>
          </div> <!-- /.modal-content -->
     </div> <!-- /.modal-dialog -->

</div> <!-- /.modal -->

<!-- / Partial for Comments -->
