//- FLASH MESSAGES
include _flash_message.jade


section#home_page.home_page
	//- Section HOME PAGE
	.row.home_banner(ng-repeat="post in coverPost",ng-style="{'background-image':'url(/api/got/image/'+post.coverImage+')'}")
		//- First Row
		.home_banner_cut
			//- Banner rotated overlay cut -
			.extend
		.col-lg-6.col-lg-offset-3.main-cta.clearfix
			//- Main canvas - Content and Image
			.home_intro
				h2 {{post.title}}
				p  {{post.content | limitTo:postPreviewLimit}}
				center
					a(href="/article/{{post.title_slug}}")
						button.btn.btn-primary.home-cta(type="button") Discover more
			//- Main canvas - END
		.col-lg-10.col-lg-offset-1.latest
			//- Bookmarks 
			//-	Latest post from blog
			.col-lg-3.latest-wrap.clearfix(ng-repeat="post in homePosts | limitTo:4",id="home-post-link-id-{{post.id}}")
				.latest-content.col-lg-10
					p
						small {{post.tags[0].name}}
						a(href="/article/{{post.title_slug}}") {{post.title}}
			//- Bookmarks 
			.clearfix
		//- First Row - END
	.section
		//- Second Row
		.first(id="home-post-link-id-{{post.id}}",ng-repeat="post in homePosts | limitTo:1",ng-style="{'background-image':'url(/api/got/image/'+post.coverImage+')'}")
			.row(class="{{post.layoutClass}}")
				.col-lg-10.col-lg-offset-1
					.col-lg-6.col-lg-offset-6.section-container
						h2
							small {{post.tags[0].name}}
							br
							| {{post.title}}
						p {{post.content | limitTo:postPreviewLimit}}
						a(href="/article/{{post.title_slug}}")
							button.btn.btn-primary.home-cta(type="button") Read More
		//- Second Row - END 
	.section
		//- Tirdth Row
		.second.second-2-1(ng-repeat="post in homePosts | limitTo:2",ng-if="$index > 0",ng-style="{'background-image':'url(/api/got/image/'+post.coverImage+')'}")
			.row
				.col-lg-10.col-lg-offset-1
					.col-lg-8.section-container(ng-repeat="p in homePosts | limitTo:2" ng-if="$index > 0")
						h2
							small {{p.tags[0].name}}
							br
							| {{p.title}}
						p {{p.content | limitTo:postPreviewLimit}}
						a(href="/article/{{p.title_slug}}")
							button.btn.btn-primary.home-cta(type="button") Read More

					.col-lg-4.section-container.black-fade.no-fade(ng-repeat="p in homePosts | limitTo:3",ng-if="$index > 1") 
						h2
							small {{p.tags[0].name}}
							br
							| {{p.title}}
						p {{p.content | limitTo:postPreviewLimit}}
						a(href="/article/{{p.title_slug}}")
							button.btn.btn-primary.home-cta(type="button") Read More
		//- Tirdth Row - END
	.section
		//- Fourth Row
		.latest-posts
			.row
				.col-lg-10.col-lg-offset-1
						//- Display latest 3 post
						.home-article-column(ng-repeat="post in latestPosts | limitTo:3 ",id="home-post-column-id-{{post.id}}")
							.col-lg-4.section-container
								h2
									small {{post.tags[0].name}}
									span.col-lg-12.image.clearfix(ng-style="{'background-image':'url(/api/got/image/'+post.coverImage+'/50)'}")
									a(href="/article/{{post.title_slug}}") {{post.title}}
								p {{post.content | limitTo:postPreviewLimit}}
		//- Fourth Row
	.clearfix
	//- Section HOME PAGE - END
