//- FLASH MESSAGES
include _flash_message.jade


section#home_page.o-page-cover
	//- Section HOME PAGE
	.row.o-page-cover__image-banner(ng-repeat="post in coverPost",back-img="{{post.coverImage}}",data-path="/api/got/image")
		//- First Row
		.o-page-cover__home-banner-cut
			//- Banner rotated overlay cut -
			.o-page-cover__home-banner-cut__extend
		.o-page-cover__home.o-page-cover__home_home_page.clearfix
			//- Main canvas - Content and Image
			h1 {{post.title}}
			h2  {{post.content | htmlToPlaintext | limitTo:postPreviewLimit}}
			center
				a(href="/article/{{post.title_slug}}")
					button.btn.btn-primary.home-cta(type="button") Discover more
			//- Main canvas - END
		.o-page-cover__latest-posts
			//- Bookmarks 
			//-	Latest post from blog
			.o-page-cover__latest-posts__wrap(ng-repeat="post in homePosts | limitTo:4",id="home-post-link-id-{{post.id}}")
				.o-page-cover__latest-posts__wrap__latest-content
					p
						small {{post.tags[0].name}}
						a(href="/article/{{post.title_slug}}") {{post.title}}
			//- Bookmarks 
			.clearfix
		//- First Row - END
		//-
		//-
	.section
		//- Second Row
		.first(id="home-post-link-id-{{post.id}}",ng-repeat="post in homePosts | limitTo:1",back-img="{{post.coverImage}}",data-path="/api/got/image")
			.row(class="{{post.layoutClass}}")
				.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.container
					.col-lg-6.col-lg-offset-6.section-container
						h2
							small {{post.tags[0].name}}
							br
							| {{post.title}}
						p {{post.content | htmlToPlaintext | limitTo:postPreviewLimit}}
						a(href="/article/{{post.title_slug}}")
							button.btn.btn-primary.home-cta(type="button") Read More
		//- Second Row - END 
	.section
		//- Tirdth Row
		.second.second-2-1(ng-repeat="post in homePosts | limitTo:2", ng-if="$index > 0", back-img="{{post.coverImage}}", data-path="/api/got/image")
			.row
				.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
					.col-lg-8.col-md-8.col-xs-12.section-container(ng-repeat="p in homePosts | limitTo:2" ng-if="$index > 0")
						h2
							small {{p.tags[0].name}}
							br
							| {{p.title}}
						p {{p.content | htmlToPlaintext | limitTo:postPreviewLimit}}
						a(href="/article/{{p.title_slug}}")
							button.btn.btn-primary.home-cta(type="button") Read More

					.col-lg-4.col-md-4.col-xs-12.section.section-container.black-fade.no-fade(ng-repeat="p in homePosts | limitTo:3",ng-if="$index > 1") 
						h2
							small {{p.tags[0].name}}
							br
							| {{p.title}}
						p {{p.content | htmlToPlaintext | limitTo:postPreviewLimit}}
						a(href="/article/{{p.title_slug}}")
							button.btn.btn-primary.home-cta(type="button") Read More
		//- Tirdth Row - END
	.section
		//- Fourth Row
		.latest-posts
			.row
				.col-lg-10.col-lg-offset-1
						//- Display latest 3 post
						.home-article-column(ng-repeat="post in latestPosts | limitTo:3 ",id="home-post-column-id-{{post.id}}")
							.col-lg-4.col-md-4.section-container
								h2
									small {{post.tags[0].name}}
									span.col-lg-12.image.clearfix(back-img="{{post.coverImage}}/50",data-path="/api/got/image")
									a(href="/article/{{post.title_slug}}") {{post.title}}
								p {{post.content | htmlToPlaintext | limitTo:postPreviewLimit}}
		//- Fourth Row
	.clearfix
	//- Section HOME PAGE - END
