<section id="contents_list">
	<!-- -->
	<!-- -->
	<div class="container-fluid" >
		<div ng-repeat="cover in latestPost | limitTo:1" id="post.id" class="row home-main-post" ng-style="{'background-image':'url(/api/got/image/'+cover.coverImage+')'}">
			<div class="col-lg-4 col-lg-offset-1 ribbon">
				<div class="home_intro">
					<h2><a href="/post/{{cover.id}}/">{{cover.title}}</a></h2>
					<h3>article wrote by <a href="/user/{{cover.owned.id}}">{{cover.owned.nickname}}</a></h3>

						<p>{{cover.content | limitTo:postPreviewLimit }}...</p>
						<center>
							<a href="/post/{{cover.id}}/"><button type="button" class="btn btn-primary home-cta">Read More</button></a>
						</center>
					</div>
				</div>
			</div>
			<!-- </div> -->
			<!-- -->

			<div class="home-other-post" infinite-scroll="setPage(currentPage+1)" infinite-scroll-distance="3">
				<!-- row -->
				<div class="section" ng-repeat="post in posts" id="post.id">
					<!-- <div class="first" ng-style="{'background-image':'url(/api/got/image/'+post.coverImage+'/small)'}"> -->
					<div class="first" ng-style="{'background-image':'url(/api/got/image/'+post.coverImage+')'}">
						<div class="row {{post.layoutClass}}">
							<article  class="col-lg-6 col-lg-offset-1 col-lg- section-container" >
								<h2>
									<small>article wrote by <a href="/user/{{post.owned.id}}">{{post.owned.nickname}}</a></small></br>
									<a href="/post/{{post.id}}/">{{post.title}}</a>
								</h2>
								<p>{{post.content | limitTo:postPreviewLimit }}...</p>
								<center>
									<a href="/post/{{post.id}}/"><button type="button" class="btn btn-primary home-cta">Read More</button></a>
									<!-- <p><small>You are in good company (we are: {{users.length}})</small></p> -->
								</center>
							</article>
						</div>
					</div>
					<div ng-show='busy'>Loading data...</div>
				</div>
			</div>

	</div>
</section>
<!-- Mail Signup Form -->
<!-- Mail Signup Form -->
<!-- Mail Signup Form -->
