RewriteEngine On

# If an existing asset or directory is requested go to it as it is
RewriteRule ^post/? #/post [R=301,NC]
RewriteRule ^article/? #/article [R=301,NC]
RewriteRule ^user/? #/user [R=301,NC]
