/*  ----------------------------------------------------------------------------

    Under the fold styles.

    ------------------------------------------------------------------------- */

    .post-tag      { margin-right: 0.5em; margin-bottom: 1em;}
    .sign-up       { background: $color_backgroud_contrast; padding-bottom: 2rem;}
    .flash-message { margin-top: 1.5em;}

    .footer {
        bottom: 0; width: 100%;  height: 60px; background-color: $color_backgroud;
        h1 { color:  #FFF;
            .text-logo { font-size: 1.7rem;}
        }
        h2 { font-size:1.5rem }
        ul {
            li {
                color:  #FFF;
                height: 1.75em;
            }
        }
    }

/*  ----------------------------------------------------------------------------

    Mixin.

    ------------------------------------------------------------------------- */
    @mixin white-fade {
        .white-fade {
            background-color: rgba($color_backgroud, 0.7);
            p  { color: darken($font-color-light, 60%) }
            h2 {
                small {
                    color: darken($font-color-light, 60%); }
            }
        }
    }

    @mixin black-fade {
        .black-fade {
            background-color: rgba(0, 0, 0, 0.7);
            color: $font-color-light;
            a  { color: darken($font-color-light, 5%);}
            p  { color: darken($font-color-light, 30%);}
            h2 {
                small {
                    color: darken($font-color-light, 30%); }
            }
        }
    }

    @mixin no-fade {
        .no-fade {
            background-color: transparent;
        }
    }

    @mixin section-wide {
        h2 {
            line-height: 1.2em;
            min-height: 4em;
            small {
                display:block;
                clear:right;
                line-height: 0.8em;
            }
        }
        a { color: lighten($font-color, 20%) }
        p {
            max-height: 7em;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .section-container { min-height: 33vh; margin-top: 1.5em; margin-bottom:1.5em}
        .first {
            display: table;
            min-height: 50vh;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0px;
            h2 {
                small {
                    color: lighten($font-color, 60%);
                }
            }
            p {
                color: lighten($font-color, 40%);
                text-align: justify;
            }
            @include white-fade;
            @include black-fade;
            @include no-fade;
        }
    }



/*  ----------------------------------------------------------------------------

    Row under the fold for home and post page.

    ------------------------------------------------------------------------- */

    .section {
        @include section-wide;
        .row {
            display: table-cell;
            height:  inherit;
            @include white-fade;
            @include black-fade;
            @include no-fade;
        }
        .second {
            display: table;
            min-height: 50vh;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0px;
        }
        .second-2-1 {
            .row {
                background: linear-gradient(to right,
                    rgba(0,0,0,0.25) 0%,
                    rgba(0,0,0,0.25) 63%,
                    rgba(0,0,0,0.69) 63%,
                    rgba(0,0,0,0.69) 100%);
                display: table-cell;
            }
        }
    }

    .latest-posts {
        .image {
            background-size: cover;
            height: 20rem;
            display:block;
            clear: both;
        }
    }


/*  ----------------------------------------------------------------------------

    Home page styles

    ------------------------------------------------------------------------- */

    .home-other-post {
        .row { margin: 0;}
        .section {
            @include section-wide;
            .right {
                article {
                    float:right;
                    margin-right: 8.33333%
                }
            }
            .left {
                article {
                    
                }
            }
        }
    }


/*  ----------------------------------------------------------------------------

    Posts page

    ------------------------------------------------------------------------- */

    .post-detail {
        position: relative; background-color: $color_post_detail_background; overflow: hidden;
        h1 { margin-top: 25%;}
        .coverpad { padding-left:0px; }
        .cover {
            height: 300px; overflow: hidden; border-top: 4px solid $color_post_detail_accent; margin-left:0px;
            background-position: 50% top; background-repeat: no-repeat;
            height: 100vh; background-size: cover;
        }
        .btn-group { margin-top: 1.5em; margin-bottom:1.5em;}
    }

/*  ----------------------------------------------------------------------------
    Posts page - EDIT
    ------------------------------------------------------------------------- */
    .post-detail.edit .form-group.body textarea { height: 30em;}
