/*  ----------------------------------------------------------------------------

    Above the Fold Styles.

    ----------------------------------------------------------------------------
    ----------------------------------------------------------------------------
    Basic Bootstrap Import.
    ------------------------------------------------------------------------- */
    @import 'above_the_fold_bootstrap.scss';
    @import 'variables.scss';








/* -----------------------------------------------------------------------------
   Above the Fold Styles
   Font Face.
   -------------------------------------------------------------------------- */
   @font-face { font-family: Brandon_Bold;   src: url(/fonts/brandon/Brandon_bld.otf)};
   @font-face { font-family: Brandon_Light;  src: url(/fonts/brandon/Brandon_light.otf)};
   @font-face { font-family: Brandon_Medium; src: url(/fonts/brandon/Brandon_med.otf)};
   @font-face { font-family: Brandon_Bulk;   src: url(/fonts/brandon/Brandon_blk.otf)};

   @font-face {
       font-family: 'Open Sans';
       font-style: normal;
       font-weight: 300;
       src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
   }
   @font-face {
       font-family: 'Open Sans';
       font-style: normal;
       font-weight: 400;
       src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
   }









/*  ----------------------------------------------------------------------------
    Above the Fold Styles
    Bootstrap styles.
    ----------------------------------------------------------------------------
    ----------------------------------------------------------------------------
    Above the Fold Styles
    Nav Bar.
    ------------------------------------------------------------------------- */
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus,.navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: transparent;
        color: $color_backgroud;
        &:after {
            transform: scaleX(1);
        }
    }

   .navbar-inverse .navbar-nav > li > a {
       color: $color_backgroud;
       // transition: border 1250ms 250ms ease-in-out;
    }

    .navbar-inverse .navbar-nav > li > a:after {
        // transition: border 1250ms 250ms ease-in-out;
        display: block;
        content: '';
        border-bottom: 1px solid $color_accent;
        transform: scaleX(0.0001);
        transition: transform 250ms ease-out;
    }

    .navbar-inverse .navbar-nav > li > a:hover:after {
        transform: scaleX(1);
    }

    .navbar-default {
        background-color: rgba(0, 0, 0, 0.4);
        border-color: rgba(0, 0, 0, 0.5);
    }

    .navbar-brand > img {
        width: 32px;
        margin-left: 1rem;
        margin-top: -0.7rem;
    }

/*  ----------------------------------------------------------------------------
    Above the Fold Styles
    Basics Styles and Mixing.
    ------------------------------------------------------------------------- */

    h1 { font-family: 'Brandon_Bold', 'sans', sans-serif};
    h2, h3, h4, h5, h6 { font-family: 'Brandon_Medium', 'sans', sans-serif; line-height: 1.5em;};
    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.7em;
        margin-bottom: 2.0em;
    }
    nav { font-size: 1.4rem;}
    button {font-family: 'Brandon_light', 'sans';}
    .text-logo {
        font-size: 1.6rem;
        letter-spacing: 0.15em;
        font-family: 'Brandon_Light','sans';
        .capital { font-family: 'Brandon_Medium',sans; font-size: 1.1em;}
    }
    .home-logo {
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 75px; width: 255px;
        margin-right: 1px; padding-left:1px;
        float:left;
    }

    .btn-primary {
        margin-top:0.7rem;
        font-size: 1em;
        min-width: 10em;
        border-radius: 1em;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
        &:hover {
            border: 1px solid lighten($color_accent, 0.7);
            //box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
            //outline-color: rgba(255, 255, 255, 0);
            //outline-offset: 15px;
            // text-shadow: 1px 1px 2px #427388;
            background-color: rgba($color_accent, 0.8);
            box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.22);
        }
        a {
            color: $color_backgroud_contrast
        }
    }
    .btn-primary__negative {
        background-color: initial;
        color:$color_accent;
        font-family: 'Open Sans';
        font-weight: inherit;
    }

/*  ----------------------------------------------------------------------------

    PAGE: Home

    ------------------------------------------------------------------------- */

    .o-page-cover {
        .row { margin: 0; padding: 0}
        .o-page-cover__home-banner-cut {
            position: absolute;
            transform: rotate(15deg);
            transform-origin: 0% 50%;
            .o-page-cover__home-banner-cut__extend {
                height:100vh;
                width: 50vw;
                background-color: rgba(0,0,0,0.5);
                transform: scale(1.30,1.40);
                transform-origin: 100% 100%;
                border-right: 6px solid rgba($color_accent,0.3);
            }
        }

    }

    .o-page-cover__image-banner {
        @extend .clearfix;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: lighten(#000,40%);
        position:relative;
        overflow: hidden;
    }

    .o-page-cover__home {
        @extend .clearfix;
        h1 {
            color: $color_backgroud; font-size: 4rem;
            a {
                margin-bottom: 1em;
                color: darken( $color_backgroud, 10% );
                :hover {
                    text-decoration: none;
                }
            }
            small {
                font-size: 0.6em; clear: right; display: block; color: #FFF;
                margin-top: 0em;
                margin-bottom: 1.2em;
                a {
                    color: $color_accent;
                    :hover { text-decoration: none; }
                }
            }
        }
        h2 {
            font-family: 'Brandon_Light';
            color: darken($color_backgroud,10%);
            font-size:2.0rem;
            letter-spacing: 0.1em;
            margin-bottom: 1.2em;
        }
        h4  {
            color: darken($color_backgroud,20%);
            font-size:1.8rem;
        }
        p {
            color: darken($color_backgroud,20%);
        }
    }

    .o-page-cover__home_home_page {
        @extend .col-lg-10;
        @extend .col-lg-offset-1;
        text-align:center;
        position: relative;
        margin-top: 50vh;
        transform: translate(0,-50%);
    }

    .o-page-cover__home_ribbon {
        @extend .col-lg-5;
        @extend .col-lg-offset-1;
        height:90vh;
        background-color: rgba(0,0,0,0.45);
        clear:right;
        border-radius: 0 0 0.5rem 0.5rem;
        margin-top: 0rem;
        padding-top:20vh;
    }

    .o-page-cover__latest-posts {
        @extend .col-lg-10;
        // @extend .col-lg-offset-1;
        @extend .col-md-10;
        // @extend .col-md-offset-1;
        @extend .col-xs-10;
        // @extend .col-xs-offset-1;
        margin-top: 1em;
        bottom:0;
        position: absolute;
        .o-page-cover__latest-posts__wrap {
            @extend .col-lg-4;
            @extend .col-md-4;
            @extend .col-md-4;
            @extend .col-xs-12;
            @extend .clearfix;
            // background-color: rgba(#000, 0.2);
            position: relative;
            height: 75px;
            padding-left: 0;
            .o-page-cover__latest-posts__wrap__latest-content {
                @extend .col-lg-10;
                text-align: right;
                position:absolute;
                bottom:0;
                transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1);
                p  {
                    color:$font-color-light; font-size: 1.8rem; font-family: 'Brandon_light','sans';
                    border-bottom:3px solid rgba($color_accent,0.0);
                    margin-bottom:1px;
                    small { font-size: 0.8em; display: block; clear:right; line-height: 0.9em;}
                }
                &:hover {
                    border-bottom:3px solid rgba($color_accent,0.5);
                    padding-bottom:0.5rem;
                    margin-bottom:2px;

                }
            }
        }
    }
/*  ----------------------------------------------------------------------------

    PAGE: Post

    ------------------------------------------------------------------------- */
    #contents_list   { padding:0;}
    .container-fluid { margin:0; padding: 0}

    /*  ----------------------------------------------------------------------------

        MEDIA QUERY

        ------------------------------------------------------------------------- */
    @media (max-width: $screen-xs-max) {  }
    //@media (min-width: $screen-sm-min) {  }
    @media (max-width: $screen-sm-max) {  }
    //@media (min-width: $screen-md-min) {  }
    @media (max-width: $screen-md-max) {
        .home_page .home_banner .latest {
            // @extend .col;
        }

    }
    // @media (min-width: $screen-lg-min) {  }
